spring:
  application:
    name: balance-eat-batch

  profiles:
    active: local

  config:
    import:
      - classpath:domain-config.yml
      - classpath:monitoring-config.yml

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

---
spring:
  config:
    activate:
      on-profile: local

logging:
  level:
    org.springframework.batch: DEBUG
    org.balanceeat: DEBUG

---
spring:
  config:
    activate:
      on-profile: dev

logging:
  level:
    org.springframework.batch: INFO
    org.balanceeat: INFO

---
spring:
  config:
    activate:
      on-profile: prod

logging:
  level:
    org.springframework.batch: WARN
    org.balanceeat: INFO
